.gallery_wrapper {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: 300px;
  grid-gap: 20px;
  margin: 50px 0;
}

.gallery_wrapper > div {
  width: 100%;
  height: 100%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.gallery_wrapper .gallery_item_1 {
  background: url(../../images/carousel1.jpeg);
}

.gallery_wrapper .gallery_item_2 {
  background: url(../../images/carousel2.jpeg);
}

.gallery_wrapper .gallery_item_3 {
  background: url(../../images/carousel3.jpeg);
}

@media (max-width: 1000px) {
  .gallery_wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 650px) {
  .gallery_wrapper {
    grid-template-columns: 100%;
    grid-gap: 10px;
    grid-auto-rows: 250px;
  }
}

/* Popup */

.popup_wrap {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup_wrap svg {
  position: absolute;
  top: 5px;
  right: 5px;
  color: crimson;
  font-size: 24px;
  cursor: pointer;
}

.popup_wrap .photo {
  width: 90%;
  height: 90%;
  background-size: cover !important;
  background-repeat: no-repeat !important;
  background-position: center center !important;
  position: relative;
}
